footer{
    padding: 20px 20px;
    margin-top: -20px;
}
.right_col{
	background: #f5f8fa;
	margin-bottom: 20px;
}
body{
    background: #F7F7F7;
}


.daterangepicker.xdisplay {
    width: 228px
}

/*.dataTables_wrapper>.row {
    overflow: auto!important
}*/


.x_panel{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: none;
}

td .btn{
    margin: 0px;
}

.breadcrumb{
    display: block;
    position: absolute;
    border-radius: 30px;
    right: 50px;
    background-color: #efefef;
}

.page-header{
    margin: 10px 0 20px;
}

table.profile td:first-child{
    padding-right: 50px;
    font-weight: bold;
    color: #73879C;
}

table.profile td{
    vertical-align: text-top;
    color: #1ABB9C;
    padding-top: 10px;
}


img.profile_avatar{
    max-width: 300px;
}

.nav-tabs {
    background: none;
    box-shadow: none;
}

.profile-label strong{
    display: block;
    float: left;
}
.profile-label span{
    border-bottom: 1px solid;
    display: block;
    float: left;
}
